* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background: url(../images/04.jpg);
    -webkit-animation:100s scroll infinite linear reverse;
    -moz-animation:100s scroll infinite linear reverse;
    -o-animation:100s scroll infinite linear reverse;
    -ms-animation:100s scroll infinite linear reverse;
    animation:100s scroll infinite linear reverse;
    background-size: 600px;
}
@-webkit-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
    }
    
    @-moz-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
    }
    
    @-o-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
    }
    
    @-ms-keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
    }
    
    @keyframes scroll{
    100%{
    background-position:0px -3000px;
    }
    }
body::after {
    clear: both;
}

.heroship {
    user-select: none;
    cursor: pointer;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
}

.mousePos {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#roketTel {
    animation: example 2s infinite;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes example {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

/* Standard syntax */

@keyframes example {
    from {
        fill: red;
        transform: scale(1);
    }
    to {
        fill: rgb(255, 94, 0);
        transform: scale(0.9) translate(5%, 5%);
    }
}

.laserBeem {
    position: absolute;
    width: 4px;
    height: 60px;
    transform: translateX(-50%);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00ac95+1,ffffff+100 */
    background: #00ac95; /* Old browsers */
    background: -moz-linear-gradient(top,  #00ac95 1%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #00ac95 1%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #00ac95 1%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ac95', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.power {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: calc(100% + 44px) !important;
    animation: scaleable 0.5s infinite;
    margin: -22px;
    display: none;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes scaleable {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

/* Standard syntax */

@keyframes scaleable {
    from {
        transform: scale(1);
        opacity: 0;
    }
    to {
        transform: scale(0.9);
        opacity: 1;
    }
}

.bigBeam {
    position: absolute;
    width: 78px;
    height: 100%;
    background: rgba(248, 80, 50, 1);
    background: -moz-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(248, 80, 50, 1)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(top, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to bottom, rgba(248, 80, 50, 1) 0%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#ffffff', GradientType=0);
    transform: translateX(-50%);
    top: 0;
    left: 0;
    transition: all 600ms ease-in-out;
}
.bigBeam.move{
    top: -100%;
}
#pathToBeShown{
    display: none;
}


/* //css for enemy */
.enemy{
    width: 50px;
    height: 50px;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 3;
  }
.enemy img{
    width: 100%;    
}
.hidden{
    opacity: 0;
    visibility: hidden;
}
.blastIcon{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;    
    transform: scale(0.2);    
}


.blastIcon.in{
    opacity: 1;
    visibility: visible;
    transform: scale(2);
    
}

/* //for explosion  */
.blasted{
    position: absolute;
    width: 50px;    
}
.blasted .blastIcon{
    width: 50px;
}
.killCoutn{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    padding: 20px;
}
.killCoutn h2{
    font-size: 20px;
}
.bigBoss.enemy{
    width: 100px;
    height: 100px;
}

.bigBoss.blasted{
    width: 100px;
}
.bigBoss.blasted img{
    width: 100px;
}

/* //for game over */
.gameOver{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 100%;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    z-index: 6;
}
.gameOver h1 {
    font-size: 60px;
    color: #ff6262;
}
.gameOver h2 {
    font-size: 50px;
    color: #31ffe3;
}
.gameOver h4 {
    font-size: 28px;
    color: #94f0ff;
    margin: 6px 0 15px;
}
.gameOver p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 14px;
}
.playerName{
    width: 100%;
    height: 46px;
    line-height: 46px;
    border: none;
    font-size: 18px;
    padding: 0 15px;
}
.playerName:focus{
    outline: none;
}
.saveBtn{
    padding: 0 20px;
    height: 46px;
    line-height: 46px;
    background: #098fa5;
    color: #fff;
    border: none;
    font-size: 17px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
}
.saveNameGroup{
    position: relative;
    padding-right: 78px;
}
.scoreBoard table{
    width: 100%;
    font-size: 18px;
    background: #ffffff;
    margin-top: 15px;
    border-collapse: collapse;
}
.scoreBoard table tr th {
    background: #098fa5;
    padding: 6px 8px;
    color: #e9fcff;
}
.scoreBoard table tr td {
    padding: 6px 8px;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}
.topSchore {
    font-size: 28px;
    color: #ffe69e;
    margin-bottom: 34px;
    margin-top: 6px;
}