*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
ul{
    list-style: none;
    margin: 0;
}
a, input[type="submit"], button{
    cursor: pointer;
    -moz-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
a, img{
    display: inline-block;
}
a:hover{
    text-decoration: none;
}
div, h1, h2, h3, h4, h5, h6, label, span, big, small{
    margin: 0;
    padding: 0;
}
h1{
    font-weight: 800;
}
h2{
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 15px;
}
h3{
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
}
h4{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
}
h5{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
}
h6{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 5px;
}

.arLogo{
    display: block;
}
.arLogo img{
    display: block;
    width: 238px;
}
.relative{
    position: relative;
}
/* =======header======>>> */
    .topHeader{
        background: rgba(31, 166, 71, 0.4);
        padding: 9px 0;
    }
    .topHeader .container-fluid{
        padding: 0 30px;
    }
    .topHeader marquee{
        color: #fff;
        margin-bottom: 0;
        display: block;
        font-weight: 600;
    }
    .arBannerCarousel .item{
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        background-size: cover !important;
        height: 100vh;
    }
    header{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
    }
    .bottomHeader{
        background: rgba(0, 0, 0, 0.4);
    }
    .headerNav{
        position: relative;
        right: -18px;
    }

    .headerNav ul li{
        padding: 0 18px;
    }
    .headerNav ul li a{
        color: #fff;        
        line-height: 80px;
        display: block;
        position: relative;
        font-weight: 600;
        text-transform: uppercase;
    }
    .headerNav ul li a:hover, .headerNav ul li.active a{
        color:#3eda0b;
    }
    .headerNav ul li.active a::after{
        content: "";
        width: 100%;
        height: 4px;
        background: #3eda0b;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .homeSearchField{
        position: absolute;
        bottom: 100px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        z-index: 1;
        max-width: 750px;
        width: 100%;
        background: rgba(255, 255, 255, 0.25);
        padding: 20px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -moz-box-shadow: 10px 0 20px rgba(0,0,0,0.2);
        -webkit-box-shadow: 10px 0 20px rgba(0,0,0,0.2);
        box-shadow: 10px 0 20px rgba(0,0,0,0.2);
    }
    .homeSearchField .row{
        margin: 0 -5px;
    }
    .homeSearchField [class*="col"]{
        padding: 0 5px;
    }
    .arSelect1{
        width: 100%;
        background: #fff;
    }
    .exploreBtn{
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        background: #1fa647;
        color: #fff;
        border: none;
        text-transform: uppercase;
        font-weight: 600;
    }
    .exploreBtn:focus{
        outline: none;
        
    }
    .arSelect1{
        height: 40px;
        line-height: 40px;
        -webkit-appearance: none;
        appearance: none;
        padding: 0 20px 0 10px;
        color: #a5a5a5;
        border: none;
    }
    .dropIcons {
        position: absolute;
        top: 50%;
        right: 25px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .banerHeaing{
        font-size: 18px;
        color: #fff;
        text-align: center;
        position: relative;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 5px;
    }
    .banerHeaing::after{
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0);
        width: 60px;
        height: 1px;
        background: #1fa647;
    }
    .arBannerCarousel .owl-dots {
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        z-index: 6;
        text-align: center;
    }
    .arBannerCarousel .owl-dots .owl-dot{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background: #ffffff;    
        padding: 4px;    
        position: relative;
    }
    .arBannerCarousel .owl-dots .owl-dot  + .owl-dot{
        margin-left: 9px;
    }
    .arBannerCarousel .owl-dots .owl-dot.active span {
        width: 10px;
        height: 10px;
        background: #1fa647;
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 4px;
        left: 4px;
    }
    .bannCaption{
        position: absolute;
        bottom: 30px;
        right: 30px;
        background: rgba(255, 255, 255, 0.50);
        padding: 8px 18px;

    }
    .bannCaption::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: #3eda0a;
    }
    .bannCaption ul{
        color: #000;
    }
    .bannCaption ul strong{
        margin-right: 10px;
    }
    .arBannerCarousel.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev{
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);

    }
    .arBannerCarousel.owl-carousel .owl-nav button.owl-next:focus, .owl-carousel .owl-nav button.owl-prev:focus{
        outline: none;
    }
    .arBannerCarousel.owl-carousel .owl-nav button.owl-prev{
        left: 20px;
    }
    .arBannerCarousel.owl-carousel .owl-nav button.owl-next{
        right: 20px;
    }

/* <<<<<=======header======*/


/* //each box css */
.eachBoxType a{
    display: block;
    position: relative;
}
.eachBoxType a img{
    display: block;
    width: 100%;

}
.eachBoxType .destiHeading{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 9px;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    z-index: 2;
    font-weight: 800;
}
.eachBoxType a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(62, 218, 11, 0.4);
    height: 40px;
    width: 100%;
    -webkit-transition: all ease-in-out 300ms;
    -moz-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
}
.eachBoxType:hover a::after {
    height: 100%;
    background: rgba(0, 0,0, 0.5);
}
.eachBoxType:hover .destiHeading {
    bottom: 50%;
    transform: translateY(50%);
    font-size: 24px;
    color: #fff;
}

.popDestination .row{
    margin: 0 -30px;
}
.popDestination [class*="col"]{
    padding: 0 30px;
    margin-top: 60px;
}
.bCover{
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    background-size: cover !important; 
}
.popDestination{
    padding: 20px 0 80px;
}
.echFtInr h6{
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;    
}
.echFtInr ul li{
    color: #fff;
}

.ftLinks li a{
    color: #fff;
}
.ftLinks li a:hover{
    color: #1fa647;
}
.ftAdres li + li{
    margin-top: 15px;
}
.ftLinks li + li{
    margin-top: 6px;
}
.ftAdres li span{
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #1fa647;
    border-radius: 50%;
    line-height: 24px;
    text-align: center;
    margin-right: 8px;
}
.ftAdres  li span .fa-envelope{
    font-size: 12px;
}
.echFtInr p{
    color: #fff;
}
.bottomFooter p{
    color: #fff;
    margin-bottom: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding: 15px 0;
}
.bottomFooter p a{
    font-weight: 700;
    color: #3ed90a;
    text-transform: uppercase;
}
footer{
    z-index: 1;
}
footer::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.topFooter{
    padding: 58px 0;
}
.modifiedModal .modal-body .arSelect1 {
    border: 1px solid #dadada;
}
.modifiedModal .modal-body{
    padding: 2rem;
}
.modifiedModal .banerHeaing {
    font-size: 22px;
    padding-bottom: 10px;
    margin-bottom: 18px;
}
.modifiedModal .close {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    background: #000;
    opacity: 1;
    color: #fff;
    line-height: 25px;
    border: none;
    border-radius: 50%;
    font-size: 15px;
}
.modifiedModal .banerHeaing{
    color: #333;
}
.sideFixedBar{
    position: absolute;
    top: 50%;
    left: 0;
}
.sideFixedBar ul li a{
    width: 64px;
    height: 64px;
    line-height: 64px;
    color: #fff;
    font-size: 32px;
    background: #1fa647;
    text-align: center;
}
.sideFixedBar ul li + li{
    border-top: 1px solid #3eda0b;
}
.sideFixedBar ul li a:hover{
    background: #3eda0b;
}
.ftLogo img{
    width: 238px;
    max-width: 100%;
}